# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.log
*.pot
*.mo
*.pyc

# ========================
# Virtual Environments
# ========================
.venv/
venv/
env/
ENV/
*.env

# ========================
# Flask / Local settings
# ========================
instance/
.env
*.db
*.sqlite3

# ========================
# PyCharm
# ========================
.idea/
*.iml
*.iws
*.ipr

# ========================
# macOS
# ========================
.DS_Store

# ========================
# Windows
# ========================
Thumbs.db
desktop.ini

# ========================
# Git
# ========================
.git/
